/* .landingpage{
    background: linear-gradient(rgb(173, 215, 246) 0%, rgb(247, 247, 247) 100%)
} */

.landingpage{
    background-image: url('https://img.freepik.com/free-vector/vibrant-pink-watercolor-painting-background_53876-58931.jpg?w=2000');
}

/* .landingpage{
    background-image: url('https://t4.ftcdn.net/jpg/04/92/27/45/360_F_492274503_2fbatbm0aGLOLoFq1csJ06S6pIn7L6kC.jpg');
    background-repeat: no-repeat;
    background-size: cover;
} */

/* .landingpage{
    background-image: url('https://img.freepik.com/free-photo/pink-flowers-pink_24837-301.jpg?w=2000');
} */

/* .landingpage{
    background-image: url();
} */